
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}

/* add styles here */
nav {
   background-image: url(images/logo.svg);
   background-size: 60px;
   background-repeat: no-repeat;
   background-position: 10px 5px;
   padding: 20px;
   height: 100px;
}
nav li {
  display: inline-block;
  list-style-type: none;
}
nav ul {
   margin-left: 80px;
 }
 nav a {
   color: #51279b;
   text-decoration: none;
   padding: 10px;
   font-weight: 600;
 }
 
 nav a:visited {
   color: #8662c7;
 }
 
 nav a:hover {
   color: #8662c7;
   text-decoration: underline;
 }
 header div {
   margin: 100px 0 0 80px;
 }
 header div {
   margin: 100px 0 0 80px;
   color: white; /* we can use the cascading nature of CSS to set the color for all the elements within the div */
}
header h2 {
 font-size: 48px;
 margin-bottom: 0.5rem;
}
header p {
 font-size: 24px;
 margin-bottom: 1.5rem;
}